
@using Abp.Extensions
@using Abp.Application.Services.Dto
@using RIA.Train.Web.Areas.Mpa.Models.Common.Modals
@using RIA.Train.Web.Areas.Mpa.Models.T_StaffManage

@model CreateOrEditT_StaffModalViewModel

@* 初始化头部 *@
@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditT_Staff") + ": " + Model.T_Staff.FK_GroupId) : L("CreateT_Staff")))


<!--html代码区域-->
<div class="modal-body">
    <form name="t_StaffInformationsForm"   role="form" novalidate class="form-validation">
 <input type="hidden" name="Id" value="@Model.T_Staff.Id" />
 <div class="row>
            
               
	     <div hidden="hidden">           
            @if (Model.IsEditMode)
            {
                <input type="hidden" name="Id" value="@Model.T_Staff.Id"/>
            }
        </div>
	                  
               
 
	 <div class="form-group ">
            <label for="fK_GroupIdEdit">@L("FK_GroupId")</label>
            @Html.DropDownList("FK_GroupId", Model.FK_Groups.Select(a => a.ToSelectListItem()), new
            {
                @class = "form-control selectpicker",
                data_live_search = "true",
                id = "fK_GroupIdEdit"
            })
        </div> 
	                  
               
  	<div class="form-group form-md-line-input form-md-floating-label  ">
            <input class="maxlength-handler form-control @(Model.T_Staff.StaffName.IsNullOrEmpty() ? "" : " edited")" type="text" name="StaffName" value="@Model.T_Staff.StaffName"		maxlength="30"  />			
            <label>@L("StaffName") </label>
        </div>
   
	                  
               
	    <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <label>@L("CreteTime"):   </label>            
                <div class="input-group  date form_datetime">
                    <input type="text" name="CreteTime" value="@Model.T_Staff.CreteTime" readonly class="form-control">
                    <span class="input-group-btn">
                        <button class="btn default date-set" type="button">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
        
        </div>
	                  
            </div>
    </form>
</div>
@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
 
