
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>授课老师测评</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="人类回收资源,资源服务人类">
    <link rel="stylesheet" href="~/lib/weui.min.css?t=8">
    <link rel="stylesheet" href="~/css/jquery-weui.css?t=8">
    <link rel="stylesheet" href="~/css/common.css?t=8">
    <style type="text/css">
        body {
            padding-bottom: 50px;
        }
    </style>
</head>
<body ontouchstart>
    <div class="weui_cells_title">课程信息</div>
    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">培训老师</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                @ViewBag.ClassInfo.TrainintTeacher
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">培训地点</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                @ViewBag.ClassInfo.TrainingPlace
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">培训时间</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                @ViewBag.ClassInfo.TrainingTime
            </div>
        </div>
    </div>
    <input type="hidden" id="itemId" value="@ViewBag.ClassInfo.Id" />
       @* <div class="weui_cells_title">@ViewBag.itemInfo.ProjectName</div>*@
    @foreach (var itemContent in ViewBag.Contents)
    {
        <div class="weui_cells_title">@itemContent.Content</div>
            <div class="weui_cells weui_cells_checkbox">
                <div class="weui_cells weui_cells_checkbox">
                    @foreach (var item in ViewBag.Grades)
                    {
                        <label class="weui_cell weui_check_label" for="s1 @item.Id @itemContent.Id">
                            <div class="weui_cell_hd">
                                <input type="radio" class="weui_check" valueName="@itemContent.Content" name="@itemContent.Content" id="s1 @item.Id @itemContent.Id" value="@item.Id+@itemContent.Id">
                                <i class="weui_icon_checked"></i>
                            </div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <p>@item.Grade</p>
                            </div>
                        </label>
                    }
                </div>



            </div>
    }
   
    <a href="javascript:;" id="btnSave" class="weui_btn weui_btn_primary">提交</a>
    <script src="~/lib/jquery-2.1.4.js"></script>
    <script src="~/lib/fastclick.js"></script>
    <script src="~/Views/WeChatEstimate/index.js?t=9"></script>
    <script>
        $(function () {
            FastClick.attach(document.body);
            //window.address.Init();
            ssUser.init();
        });

        //$("#btnCancel").click(function () {
        //    $.closePopup();
        //    $("#btnAdd").show();
        //});
        //$("#btnAdd").click(function () {
        //    $("#btnAdd").hide();
        //    $("#content").popup();
        //});
        //$("#btnSave").click(function () {
        //    var name = $("#txtName").val();
        //    var phone = $("#txtPhone").val();
        //    var address = $("#txtAddress").val();
        //    if (!checkName(name)) {
        //        $.toptip('姓名不能为空！', 'error');
        //    }
        //    else if (!checkPhone(phone)) {
        //        $.toptip('手机号码错误！', 'error');
        //    }
        //    else if (!checkAddress(address)) {
        //        $.toptip('地址不能为空！', 'error');
        //    }
        //    else {
        //        $.showLoading("正在保存...");

        //    }
        //});
    </script>
    <script src="~/js/jquery-weui.min.js"></script>
</body>
</html>