
@using Abp.Extensions
@using Abp.Application.Services.Dto
@using RIA.Train.Web.Models.Common
@using RIA.Train.Web.Models

@model CreateOrEditT_GradeModalViewModel

@* 初始化头部 *@
@Html.Partial("~/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditT_Grade") + ": " + Model.T_Grade.Grade) : L("CreateT_Grade")))


<!--html代码区域-->
<div class="modal-body">
    <form name="t_GradeInformationsForm"   role="form" novalidate class="form-validation">
 <input type="hidden" name="Id" value="@Model.T_Grade.Id" />
 <div class="row>
            
               
	     <div hidden="hidden">           
            @if (Model.IsEditMode)
            {
                <input type="hidden" name="Id" value="@Model.T_Grade.Id"/>
            }
        </div>
	                  
               
  	<div class="form-group form-md-line-input form-md-floating-label  ">
            <input class="maxlength-handler form-control @(Model.T_Grade.Grade.IsNullOrEmpty() ? "" : " edited")" type="text" name="Grade" value="@Model.T_Grade.Grade"		maxlength="30"  />			
            <label>@L("Grade") </label>
        </div>
   
	                  
            </div>
    </form>
</div>
@Html.Partial("~/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
 
