

@using Abp.Web.Mvc.Extensions
@using RIA.Train.Core.Authorization
@{
    ViewBag.CurrentPageName = T_ItemAppPermissions.T_Item;
    ViewBag.Title = L("T_Item");

}


<style>
    .child-opener-image {
        cursor: pointer;
    }

    .child-opener-image-column {
        text-align: center;
    }

    .jtable-dialog-form {
        min-width: 220px;
    }

        .jtable-dialog-form input[type="text"] {
            min-width: 200px;
        }
</style>


@section Styles{

    @*   <link href="~/libs/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>*@
}


@* 注入所需JS *@
@section Scripts
{
    <script src="~/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="~/libs/zeroclipboard/ZeroClipboard.min.js"></script>
    <script src="~/libs/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
        <script src="~/libs/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>


    @Html.IncludeScript("~/Views/T_Item/_CreateOrEditT_ItemModal.js")
    @*@Html.IncludeScript("~/Views/T_Item/Index.js")*@
<script src="~/Views/T_Item/Index.js?t=8"></script>
    @Html.IncludeScript("~/Views/T_Staff/SelectStaffModal.js")
<script src="~/Views/T_Item/ShowT_ItemModal.js?t=9"></script>
    <script src="~/libs/jquery.zclip/clipboard.min.js"></script>
    <script src="~/Views/T_Class/_CreateOrEditT_ClassModal.js"></script>
}
<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("T_Item")</span>
                </h1>
            </div>

        </div>
    </div>
    <div class="col-xs-6 text-right">
        <button id="ButtonReload" class="btn btn-primary blue"><i class="fa  fa-refresh"></i> @L("刷新")</button>


        @*@if (IsGranted(T_ItemAppPermissions.T_Item_CreateT_Item))
            {*@
        <button id="CreateNewT_ItemButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("新建")</button>
        @* } *@
    </div>
</div>

<div class="portlet light">
    @* 通用搜索功能 *@
    <div class="portlet-title portlet-title-filter">
        <div class="inputs inputs-full-width">
            <div class="portlet-input">
                <form>
                    <div class="input-group">
                        <input id="T_ItemsTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.FilterText">
                        <span class="input-group-btn">
                            <button id="GetT_ItemsButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="portlet-body">
        <div id="T_ItemsTable"></div>
    </div>
</div>









