

@using Abp.Web.Mvc.Extensions
@using RIA.Train.Entities.Authorization
@{
    ViewBag.CurrentPageName = T_GroupAppPermissions.T_Group;
    ViewBag.Title = L("T_Group");

}

@section Styles{
		
	  	  	  	    
}


@* 注入所需JS *@
@section Scripts
{ <script src="~/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>

 
    @Html.IncludeScript("~/Areas/Mpa/Views/T_GroupManage/_CreateOrEditT_GroupModal.es5.min.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/T_GroupManage/Index.es5.min.js")
}
<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("T_Group")</span> <small>@L("T_GroupHeaderInfo")</small>
                </h1>
            </div>
        
        </div>
    </div>
    <div class="col-xs-6 text-right">
        <button  id="ButtonReload" class="btn btn-primary blue"><i class="fa  fa-refresh"></i> @L("Refresh")</button>


        @if (IsGranted(T_GroupAppPermissions.T_Group_CreateT_Group))
        {
            <button id="CreateNewT_GroupButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateT_Group")</button>
        }
    </div>
</div>

<div class="portlet light">
 @* 通用搜索功能 *@
<div class="portlet-title portlet-title-filter">
        <div class="inputs inputs-full-width">
            <div class="portlet-input">
                <form>
                    <div class="input-group">
                        <input id="T_GroupsTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.FilterText">
                        <span class="input-group-btn">
                            <button id="GetT_GroupsButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="portlet-body">
        <div id="T_GroupsTable"></div>
    </div>
</div>









 